<div class="container">
  <form class="form-horizontal" method="POST" action="/questions">

    <div class="form-group">
      <label for="question">Ask your question:</label>
      <input type="text" class="form-control" name="question" placeholder="Where can I buy an iPhone?">
    </div>

    <div class="form-group">
      <label for="questionDetails">Provide details:</label>
      <textarea class="form-control" name="description" rows="3"></textarea>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
