
<p>the id number is <%= @id %></p>

<p>Displays question</p>
<p>Display response to questions</p>
<p>Button to respond to question (if logged in)</p>

<p>Display answers</p>
<p>Displays responses to answers</p>
<p>button to respond to answer (if logged in)</p>

<p>Displays votes on questions, answers, responses</p>
<p>Button to vote on questions, answers, responses (if logged in)</p>
