.text-muted a {
    color: hotpink;
    text-decoration: none;
}

#rhino_logo {
  width: 70px;
  height: 60px;
  margin-right:5px;
}

.vote-button {
  width: 15px;
  height: 15px;
}

#login p {

}
#login a:hover {
  text-decoration: none;
  color: white;
}

.upvote {
  margin-top: 5px;
  margin-bottom: -5px;
  float: left;
  margin-right: 5px;
}
.downvote {
  margin-top: 5px;
  /*margin-bottom: -5px;*/
  float: left;
  margin-right: 5px;
}


.post-question {
  text-align: left;
  margin-bottom: 30px;
}

.post {
  border-top: 1px solid #c3c3c3;
  /*border-bottom: 1px solid #c3c3c3;*/
  list-style: none;
  text-align: left;
  padding: 20px;
  margin: 10px;
  /*border-radius: 10px;*/
}

.questions ul li {
  padding-right: 10px;
  display: inline-block;
  list-style: none;
}

.title {
  float: left;
}

.title a:link {
  text-decoration: none;
}

.details {
  float: right;
}

.details a {
  text-decoration: none;
  color: #acacac;
}

.clear {
  clear: both;
}

.answers {
  padding: 5px;
}

.votes {
  padding: 5px;
}

.views {
  padding: 5px;
}

.best_answer {
  background-color:#98FB98;
}

#next_question {
  float: right;
  margin-right: 30px;
}

#last_question{
  margin-left: -30px;

}

