  <form class="form-horizontal response-form"  action="/questions/<%= @question.id %>/responses" method="POST">

    <div class="form-group">
      <label for="responseQuestion">Response to question:</label>
      <textarea class="form-control" name="text" rows="3"></textarea>
    </div>

    <div class='form-group'>
    <button type="submit" class="btn btn-default">Submit</button>
    </div>

  </form>
</div>
