<div class="container" >
  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <%= erb :'/responses/_new_to_question', layout: false, locals: {question: @question} %>
</div>