    <% if !@vote || @vote.vote_value == 1 %>
    <%if session[:user_id] %>
    <form>
      <input type ='hidden' name="vote" value=1>
      <%else%>
      <form action='/sessions/new' method='GET'>
        <%end%>
        <a href = '/questions/<%=question.id%>/votes/new' class ='vote-button-upvote-link'><input type='image'  src ='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Arrow_up_font_awesome.svg/512px-Arrow_up_font_awesome.svg.png' alt = "Submit" class="vote-button upvote"> </a>
      </form>
      <% end %>
      <% if !@vote || @vote_value == -1 %>
      <%if session[:user_id] %>
      <form action='/questions/<%= @question.id %>/votes/new' method='POST'>
        <input type ='hidden' name="vote" value=-1>
        <%else%>
        <form action='/sessions/new' method='GET'>
          <%end%>
          <form action='/questions/<%= question.id %>/votes/new' method='POST'>
            <input type ='hidden' name="vote" value=-1>
            <input type='image'  src ='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Arrow_down_font_awesome.svg/512px-Arrow_down_font_awesome.svg.png' alt = "Submit" class="vote-button downvote">
          </form>
          <% end %>
          <div id="votes-total-div"> <% @question=Question.new(question) %> <% "Votes: #{vote_total}" %>
          </div>